body {
  background-color: #000;  
  font-family: 'Poppins', sans-serif; 
}

body header {
  margin-left: .5rem; 
  font-size: 5rem; 
  color: #53710F  
}

img {
 width: 100%;   
}

.divHulk {
  height: 35rem; 
  overflow: hidden 
}

h1 {
  font-size: 3rem; 
  font-weight: 500; 
  color: #53710F 
}

p {
  letter-spacing: .1rem; 
  font-size: .8rem; 
  color: #53710F 
}

.textCharacter {
  padding: 0 2rem; 
  margin-bottom: 3rem;
}

span {
  color: #53710F ;
  padding: 0 2rem  
}

a {
  font-size: 1rem; 
  text-decoration: none; 
}

.movieNote {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #FFD700; 
  width: 14rem; 
  color: #53710F;
  font-weight: 700; 
  height: 3.5rem; 
  border-radius: 5px; 
  position: absolute;  
  top: 650px
}

.divMovieNote {
  padding: 0 2rem  
}